.card {
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
}


.cards {
    height: 180px;
}

.menu-link i,
.menu-link .card-title {
    color: #007bff;
    
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-weight: 500;
}