<div class="mx-2 mt-3">

  <!-- Breadcrumb -->
  <ul class="nav mb-2">
    <li class="nav-item">
      <span class="nav-link text-dark fw-bold">Statistics</span>
    </li>
    <li class="nav-item">
      <span class="nav-link active" routerLink="/Role" >Role Master</span>
    </li>
  </ul>
  <hr>

  <!-- Card -->
  <div class="card shadow-sm">
    
    <div class="card-body">
      <form [formGroup]="roleForm" (ngSubmit)="submit()">

       
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Code</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
                   formControlName="code">
            <small class="text-danger"
              *ngIf="roleForm.get('code')?.touched && roleForm.get('code')?.invalid">
              Code is required
            </small>
          </div>
        </div>

        <!-- User Name -->
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
                   formControlName="name">
            <small class="text-danger"
              *ngIf="roleForm.get('name')?.touched && roleForm.get('name')?.invalid">
              Name is required
            </small>
          </div>
        </div>

          

        <!-- Is Active -->
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Is Active</label>
          <div class="col-sm-5">
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     formControlName="isActive">
              <label class="form-check-label">Active</label>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="row">
          <div class="col-sm-8 ">
            <button type="submit" class="btn btn-primary me-2"
              *ngIf="roleForm.value.id === 0">
              Submit
            </button>

            <button type="submit" class="btn btn-warning"
              *ngIf="roleForm.value.id > 0">
              Update
            </button>

             <button routerLink="/Role" class="btn btn-danger me-2"
              *ngIf="roleForm.value.id === 0">
              Back
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
