.uti-navbar {
  background-color: #3f3aa8;
}

.nav-link {
  font-size: 16px;
 
}
 
.navbar a {
  text-decoration: none;
}

.logout a:hover{
  text-decoration: underline;

}

.navbar .nav-link,
.navbar .dropdown-toggle {
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover {
       
  color: #ececece0 !important;     
}

 
:host ::ng-deep .dropdown-menu .dropdown-item,
:host ::ng-deep .dropdown-menu .dropdown-item:hover,
:host ::ng-deep .dropdown-menu .dropdown-item:focus,
:host ::ng-deep .dropdown-menu .dropdown-item:active,
:host ::ng-deep .dropdown-menu .dropdown-item.active {
  background: #fff !important;
  background-color: #fff !important;
  background-image: none !important;
  color: #000 !important;
  box-shadow: none !important;
}

:host ::ng-deep .dropdown-menu .dropdown-item {
  background-color: #fff !important;
  color: #000 !important;
}

:host ::ng-deep .dropdown-menu .dropdown-item:hover {
  background-color: #f2f2f2 !important; 
  color: #000 !important;
}
