<nav class="navbar navbar-expand-lg uti-navbar px-3">

  <!-- LOGO -->
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/logo2.png" height="35">
  </a>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navBar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">

    <ul class="navbar-nav me-auto">

      <ng-container *ngFor="let menu of processedMenus">

        <!-- NORMAL MENU -->
        <li class="nav-item" *ngIf="menu.type === 'normal'">
          <a class="nav-link text-white"
             [routerLink]="menu.item.link">
            {{ menu.item.title }}
          </a>
        </li>

        <!-- UPLOAD DROPDOWN -->
        <li class="nav-item dropdown" *ngIf="menu.type === 'upload'">
          <a class="nav-link dropdown-toggle text-white"
             role="button"
             data-bs-toggle="dropdown">
            Upload
          </a>

          <ul class="dropdown-menu">
            <li *ngFor="let u of menu.items">
              <a class="dropdown-item"
                 [routerLink]="u.link">
                {{ u.title }}
              </a>
            </li>
          </ul>
        </li>

        <!-- REPORT DROPDOWN -->
        <li class="nav-item dropdown" *ngIf="menu.type === 'report'">
          <a class="nav-link dropdown-toggle text-white"
             role="button"
             data-bs-toggle="dropdown">
            Reports
          </a>

          <ul class="dropdown-menu">
            <li *ngFor="let r of menu.items">
              <a class="dropdown-item"
                 [routerLink]="r.link">
                {{ r.title }}
              </a>
            </li>
          </ul>
        </li>

      </ng-container>

    </ul>

   <!-- RIGHT USER -->
    <div class="dropdown logout">

      <a class="d-flex align-items-center text-white dropdown-toggle" role="button" data-bs-toggle="dropdown">
        {{ userName }}
      </a>

      <ul class="dropdown-menu dropdown-menu-end shadow">



        <li>
          <a class="dropdown-item d-flex align-items-center" routerLink="/settings">

            <img src="\assets\images\Settings.png" height="18" class="me-2">

            Settings
          </a>
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" (click)="logout()" routerLink="/logout">

            <img src="\assets\images\logout.png" height="18" class="me-2">

            Logout
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
